*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing:border-box
}
html{
    scroll-behavior: smooth;
}

body{
    background:#080808;
    color: aliceblue;

}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}


.container{
    padding: 20px 10%;



}
.container nav span{
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: ease 0.2s;



}
.container nav span:hover{
    color: #9d9a9a;

}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    position: relative;
    
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#f30450;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: ease-in-out 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top:16%;
    line-height: 2;
    font-size: 2rem;

}

.header-text h1{
    font-size: 4.6rem;
    line-height: 1;

}

.header-text h1 span{
    color: #f30450;
    
}
.header-text p{
   font-size: 2.5rem;
    
}

/* About section */

#about{
    padding: 80px 0;
    color: rgb(182, 182, 174);

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.col-1{
    flex-basis: 35%;

}
.col-1 img{
    width: 100%;
    border-radius: 10px;
}
.col-2{
    flex-basis: 60%;

}

.sub-titles{
    color: wheat;
    font-size: 60px;
    font-weight: 500;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right:50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 2px;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#f4155b;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: ease 0.5s;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-links.active-link::after{
    width: 100%;
    opacity: 0.5;
}
.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color:#cb2840;
    font-size: 12px;

}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* Services */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:35px;
    margin-top: 50px;
}
.services-list div{
    background: #201f1f;
    padding: 45px;
    font-size: 15px;
    font-weight: 400;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    border-radius: 15px;

}

.services-list div:hover{
    background: #ed0b52;
    transform: translateY(-6px);

}


.services-list div i{
    font-size: 55px;
    margin-bottom: 33px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
/* portfolio */
#portfolio{
    padding: 40px 0;

    

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:35px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;
    transition: transform 0.6s; /*for hover effect with transform and duration */
}
.layer{
    width: 100%;
    height: 0;  /*for hover effect  */
    background: linear-gradient(rgba(0,0,0,0.4), #e62864);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.6s; /*for hover effect from bottom  */
    
}
.layer h3{
    margin-bottom: 20px;
    font-weight: 500;
    
}
.layer a{
    margin-top:20px; 
    color: #ff004f;
    font-size:18px;
    line-height: 60px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius:50%;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/* btn styling of a */
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid lightcoral;
    padding: 15px 40px;
    border-radius: 5px;
    transition: background  trasnform 0.5s;
    color: aliceblue;
    text-decoration: none;
}

.btn:hover{
    background: #df235f;
    transform: scale(1.04);
    border:1px solid #b4b0b0;

}
/* Contact */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    
   
}
.contact-left p i{
    color:#f30450;
    margin-right: 15px;
    font-size: 22px;

}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font: size 30px;
    margin-right: 18px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-2px);
}
.btn2{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid lightcoral;
    padding: 15px 40px;
    border-radius: 5px;
    transition: background  trasnform 0.5s;
    color: aliceblue;
    text-decoration: none;
    background: #080808;
    
}
.btn2:hover{
    background: #df235f;
    transform: scale(1.04);
    border:1px solid #b4b0b0;
}

.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 15px;
    border-radius:6px;
}
form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.copyright{
    padding: 25px 0;
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-weight: 300;
    background: #262626;
}
.copyright i{
    color: #e62864;
}


nav .fa-solid, .fa-regular{
    display:none;

}

/* CSS for small screens */
@media only screen and (max-width: 600px) {
    #header{
        background-image: url('background2.jpg');
        /* Not provided the background */
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid, .fa-regular{
        display:block;
        font-size: 25px;
        
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }

    nav ul li{
        display: block;
        margin: 25px;

    }
    nav .fa-solid, .fa-regular{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;

    }



    
}

#msg{
    color: rgb(221, 221, 28);
    margin: 10px 0px 0px 50px;
    display: block;
    font-size: 1.1rem;
}



